/* glowing-neon-transparent:  https://codepen.io/anonymousjoe/pen/eYKvKVw
 */

/* CONTENTS
 * 0. Reset
 * 1. Main containers
 * 2. Display Containers
 * 3. History Display
 * 4. Expression Box Display
 * 5. Controls Panel Display
 *    5.1 - Labels
 *    5.2 - Keypad Panels
 *    5.3 - Panel Buttons
 */

/* 0. RESET */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  background-color: inherit;
  color: inherit;
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 1. MAIN CONTAINERS */

html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  font-family: Symbola, "Times New Roman", serif;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

main {
  height: 800px;
  width: 800px;
  border: 1px solid #bbb;
  border-radius: 16px;
  background: linear-gradient(#000000 40%, rgba(0, 200, 255, 0.3));
  box-shadow: 0px 2px 4px rgba(0,255,255,0.5), 
              0px -2px 4px rgba(0,255,255,0.5), 
              0px 4px 16px rgba(0,255,255,0.5), 
              0px -4px 16px rgba(0,255,255,0.5);
  display: flex;
  flex-direction: column;
}

#history-container {
  height: 50%;
}

#expr-container {
  height: 10%;
}

#controls-container {
  height: 40%;
}

.main-container {
  padding: 16px;
}

/* 2. DISPLAY CONTAINERS */

.main-display {
  height: 100%;
  border: 1px solid #bbb;
}

/* 3. HISTORY DISPLAY */



/* 4. EXPRESSION BOX DISPLAY */

#expr-display {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  font-size: 22px;
}

/* 5. CONTROL PANEL DISPLAY */

#controls-display {
  height: 100%;
}

/* 5.1 - Labels */

#panel-labels {
  display: flex;
  justify-content: space-between;
  height: 10%;
  font-size: 14px;
}

#left-labels {
  width: 33%;
  margin-left: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}

#mid-labels {
  padding-left: 10px;
  width: 44%;
  display: flex;
  gap: 20px;
}

#right-labels {
  width: 22%;
}

/* 5.2 - Keypad Panels */

#keypad-panels {
  height: 90%;
  display: flex;
  justify-content: space-between;
}

#functions {
  width: 33%;
  height: 100%;
  margin: 0 10px 0 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  overflow-y: auto;
  scrollbar-width: thin;
}

#keypad {
  width: 44%;
  height: 100%;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

#utilities {
  width: 22%;
  height: 100%;
  margin: 0 0 0 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

/* 5.3 - Panel Buttons */

#functions button {
  height: 56px;
  width: 74px;
}

#keypad button {
  height: 56px;
  width: 74px;
}
#utilities button {
  height: 56px;
  width: 74px;
}
