/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: Symbola, "Times New Roman", serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* STYLES */

/* CONTAINERS: UNIQUE STYLES */

html {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

#main-container {
  border: 1px solid #bbb;
  border-radius: 16px;
  height: 800px;
  width: 800px;
  display: flex;
  flex-direction: column;
/* #091222*/
  background: linear-gradient(#000000 40%, rgba(0, 200, 255, 0.3));
  box-shadow: 0px 2px 4px rgba(0,255,255,0.5), 
              0px -2px 4px rgba(0,255,255,0.5), 
              0px 4px 16px rgba(0,255,255,0.5), 
              0px -4px 16px rgba(0,255,255,0.5);
}

#history-container {
  height: 50%;
}


#expr-container {
  height: 10%;
}

#controls-container {
  height: 40%;
}

/* CONTAINERS: CLASS STYLES */

.main-box {
  padding: 16px;
}

.brdr-rnd {
  border: 1px solid grey;
}

/* History display */

#history-display {
  height: 100%;
}

/* EXPR BOX */

#expr-box {
  display: flex;
  align-items: center;
  padding: 4px 10px;
}


.expr-line {
  font-size: 22px;
  height: 50px;
}

/* CONTROLS */

#controls {
  height: 100%;
  padding: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#controls-left {
  height: 100%;
  flex-grow: 3;
  display: flex;
  justify-content: space-around;
  color: white;
}

#controls-mid {
  height: 100%;
  flex-grow: 4;
}

#controls-right {
  height: 100%;
  flex-grow: 2;
}

/* CONTROL PANELS */

#fn-panel {
  flex-grow: 1;
}

#sym-panel {
  flex-grow: 1;
}

#def-panel {
  flex-grow: 1;
}

